<h1>Welcome To Your Calendar</h1>
<p>Find me in app/views/welcome/index.html.erb</p>




  <title>Login</title>

  <form name="MY Form"action="Login">
  Username <input type="text"name="text1">
  <br>Password<input typy="password" name="text2">
  <br>
  <input type="submit"name="button1"value="login">
  </form>

