<h1>Upcoming Events</h1>
<%= render 'menu' %>

<%= week_calendar number_of_weeks: 1 do |date| %>
  <%= date %>
  
  <% @event.each do |events| %>
    <div>
      <% if events.date != date %>
      <% nil %>
      <% else %>
      <%= events.title %>
      <% end %>
    </div>
  <% end %>
<% end %>




