<h1>Upcoming Events</h1>
<%= render 'menu' %>
<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Description</th>
  </tr>
 
  <% @event.each do |event| %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.description %></td>
    </tr>
  <% end %>
</table>
