<h1>Events By Month</h1>
<%= render 'menu' %>

<%= month_calendar events_calendar: @event do |date, event| %>
  <%= date %>

  <% @event.each do |events| %>
    <div>
      <% if events.date != date %>
      <% nil %>
      <% else %>
      <%= events.title %>
      <% end %>
    </div>
  <% end %>
<% end %>
