<div id="page">
<h1>Events By Month</h1>
<div class="menu">
<%= render 'menu' %>
</div>

<br>


<div id="background">
<%= month_calendar events_calendar: @event do |date, event| %>
   <%= date.to_formatted_s(:short) %>
<br>
<br>
<div >
  <% @event.each  do |events| %>
    <div class="eventOnCalendar">
      <% if events.date != date %>
      <% nil %>
      <% else %>
      <%= events.title %>
      <% end %>
    </div>
    </div>
  <% end %>
<% end %>
</div>
</div>