
    @media print{
 
    
    h1 {opacity: 0;}
    #monthMenu {opacity: 0;}
    #printLink {opacity: 0;}
 @page {size: A4 portrait;max-height:100%; margin-top:1px; width:100%; margin-bottom: 1px;}
 

    #eventTable2 {
        
     
      top: 1px;
      width: 100%;
      font-size:12px;
     
    }
    
    .hideLinks {opacity: 0;}
    
    

}

#eventTable2{
    padding-left:230px;
    
}

#eventTable2 th {
    
    font-size: 20px;
    text-decoration: underline;
    text-align:left;
    color:#3F9AB0;
    padding: 15px;
    
}

#eventHeading  {
    
    text-align: left;
    font-size:15px;
    padding-top: 10px;
    
}

#eventTable2 td{
    text-align: left;
    padding-left: 10px;
padding-bottom:10px;
padding-top:10px;
}



#description {
     overflow: hidden;
     text-overflow: ellipsis;
  
    width:150px;
    height:60px;
    
    
}

